{% extends "layout.html" %}

{% block content %}
    {% for test in tests %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ test.gamer }}</a>
              <small class="text-muted">{{ test.date_posted }}</small>
            </div>
            <h4><a class="article-title" href="#">{{ test.content }}</a></h4>
            <p><a class="article-content" href="#">{{ test.video_game }}</a></p>
          </div>
        </article>
    {% endfor %}
{% endblock content %}